<!DOCTYPE html>
<html lang="zh_CN">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css'|staticfile }}">
    <link rel="stylesheet" href="{{ 'css/base.css'|staticfile }}">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>
        {% block footer %}
        <div class="container">
            <ul id="footer" class="list-inline text-center">
                <li>
                    &copy; 2009-2017 by <a href="http://www.winhye.com/">Beijing Winhye Co.,Ltd.</a>
                </li>
            </ul>
        </div>
        {% endblock %}
    </footer>
    {% endblock %}
</body>
{% block script %}
<script src="{{ 'js/jquery-2.2.3.min.js'|staticfile }}"></script>
<script src="{{ 'js/bootstrap.min.js'|staticfile }}"></script>
<script src="{{ 'js/echarts.min.js'|staticfile }}"></script>
{% if development %}
<script src="{{ 'js/holder.min.js'|staticfile }}"></script>
{% endif %}
{% endblock %}
</html>
